@charset "UTF-8";
/*

Макет собран на скорую руку Дмитрием Бороденко, и содержит
не самый идеальный код!
Полное или частичное его копирование опустошит вашу честь!

**НЕ ЯВЛЯЕТСЯ ПОСОБИЕМ К ОБУЧЕНИЮ**

*/
html, body, .container-fluid {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-family: Roboto, Helvetica, "Sans-Serif";
}

.container-fluid .top-nav {
  background: #000;
}
.container-fluid .top-nav .menu {
  display: none;
}
.container-fluid .top-nav h1 {
  font-size: 24px;
  margin: 55px 0 0 180px;
  color: white;
  font-weight: 500;
}
.container-fluid .top-nav_links {
  display: block;
  margin: 55px 130px 0 0;
}
.container-fluid .top-nav_links a {
  font-size: 14px;
  font-weight: 500;
  margin: 0 16px 0 0;
  padding-bottom: 13px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
.container-fluid .top-nav_links a:hover {
  border-bottom: 3px solid #fcac45;
}
.container-fluid .top-nav_welcome {
  padding: 150px 0 350px 0;
  color: white;
  text-align: center;
}
.container-fluid .top-nav_welcome h2 {
  color: grey;
  font-size: 44px;
  font-weight: 200;
  margin-bottom: 0px;
}
.container-fluid .top-nav_welcome h2 span {
  color: #fcac45;
  font-weight: 500;
}
.container-fluid .top-nav_welcome p {
  font-size: 18px;
  color: grey;
}
.container-fluid .about-us_left {
  padding: 0px;
}
.container-fluid .about-us_left img {
  margin: 100px 0 100px 180px;
}
.container-fluid .about-us_right {
  padding: 0px;
  margin: 100px 0 0 140px;
}
.container-fluid .about-us_right h2 {
  margin: 30px 0 0 0;
  display: inline-block;
  font-size: 34px;
  font-weight: 300;
  padding-bottom: 20px;
  border-bottom: 3px solid #fcac45;
}
.container-fluid .about-us_right h2 span {
  font-weight: 600;
}
.container-fluid .about-us_right p {
  width: 415px;
  font-size: 18px;
  color: grey;
  margin: 30px 0 45px 0;
}
.container-fluid .about-us_right ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.container-fluid .about-us_right ul li {
  padding-bottom: 10px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
}
.container-fluid .about-us_right ul li img {
  padding-right: 10px;
  vertical-align: middle;
}
.container-fluid .about-us_right ul li span {
  font-size: 16px;
  font-weight: 500;
  color: grey;
}
.container-fluid .our_team {
  text-align: center;
  background: #000;
  padding: 120px 0 120px 0;
}
.container-fluid .our_team .pic {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: grey;
  margin: 20px auto;
}
.container-fluid .our_team h2 {
  display: inline-block;
  color: white;
  font-weight: 300;
  font-size: 44px;
  text-transform: uppercase;
  padding-bottom: 30px;
  margin-bottom: 100px;
  border-bottom: 3px solid #fcac45;
}
.container-fluid .our_team h4 {
  font-size: 20px;
  color: grey;
  margin: 0px;
  padding: 0px;
}
.container-fluid .our_team h5 {
  font-size: 16px;
  color: grey;
  margin: 10px 0 10px 0;
  padding: 0px;
  text-transform: uppercase;
}
.container-fluid .our_team p {
  width: 250px;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: grey;
}
.container-fluid .our_services {
  padding: 50px 0 100px 0;
  text-align: center;
}
.container-fluid .our_services h2 {
  display: inline-block;
  font-size: 44px;
  padding-bottom: 20px;
  border-bottom: 3px solid #fcac45;
  text-transform: uppercase;
  font-weight: 300;
}
.container-fluid .our_services p {
  display: block;
  width: 1130px;
  font-size: 16px;
  color: grey;
  margin: 0px auto;
  padding: 35px 0 75px 0;
}
.container-fluid .our_services .object h3 {
  font-size: 25px;
  margin: 0px;
  padding: 20px 0 20px 0;
  text-transform: uppercase;
}
.container-fluid .our_services .object p {
  padding: 0px;
  margin: 0px auto;
  font-size: 14px;
  color: grey;
  width: 245px;
}
.container-fluid .our_clients {
  padding: 75px 0 100px 0;
  text-align: center;
  background: #000;
}
.container-fluid .our_clients h2 {
  display: inline-block;
  padding-bottom: 20px;
  border-bottom: 3px solid #fcac45;
  font-size: 44px;
  font-weight: 200;
  color: white;
  text-transform: uppercase;
}
.container-fluid .our_clients h2 span {
  font-weight: 400;
}
.container-fluid .our_clients .objects {
  margin: 20px;
}
.container-fluid .our_work {
  text-align: center;
}
.container-fluid .our_work .row {
  margin-bottom: 80px;
}
.container-fluid .our_work h2 {
  display: inline-block;
  padding: 100px 0 50px 0;
  font-size: 44px;
  font-weight: 300;
  padding-bottom: 20px;
  border-bottom: 3px solid #fcac45;
  text-transform: uppercase;
}
.container-fluid .our_work h2 span {
  font-weight: 500;
}
.container-fluid .our_work p {
  font-size: 16px;
  color: grey;
  width: 1130px;
  margin: 0px auto;
  padding-bottom: 80px;
}
.container-fluid .our_work .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}
.container-fluid .our_work .gallery:last-child {
  margin-bottom: 20px;
}
.container-fluid .our_work .gallery img:hover {
  opacity: .8;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.container-fluid .testimonials {
  text-align: center;
  padding: 100px 0 100px 0;
  background: #000;
}
.container-fluid .testimonials h2 {
  display: inline-block;
  color: white;
  padding: 0px;
  font-size: 44px;
  font-weight: 200;
  padding-bottom: 20px;
  border-bottom: 3px solid #fcac45;
  text-transform: uppercase;
}
.container-fluid .testimonials h2 span {
  font-weight: 400;
}
.container-fluid .testimonials p {
  font-size: 16px;
  width: 935px;
  color: grey;
}
.container-fluid .testimonials small {
  font-size: 14px;
  color: grey;
}
.container-fluid .contacts {
  text-align: center;
  margin: 80px 0 300px 0;
}
.container-fluid .contacts h2 {
  display: inline-block;
  font-size: 44px;
  font-weight: 300;
  padding-bottom: 20px;
  border-bottom: 3px solid #fcac45;
  text-transform: uppercase;
}
.container-fluid .contacts p {
  width: 710px;
  color: grey;
  font-size: 16px;
  margin: 0 auto;
}
.container-fluid .contacts form {
  color: grey;
  text-align: left;
}
.container-fluid .contacts form .block-1 {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container-fluid .contacts form .block-1 input {
  width: 360px;
  height: 30px;
  font-size: 20px;
}
.container-fluid .contacts form .block-1 label:last-of-type {
  margin-left: 30px;
}
.container-fluid .contacts form span {
  color: red;
}
.container-fluid .contacts form .block-2 {
  margin-top: 35px;
}
.container-fluid .contacts form .block-2 textarea {
  width: 750px;
  height: 200px;
}
.container-fluid .contacts form .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 15px;
}
.container-fluid .contacts form .btn .button {
  padding: 10px 40px 10px 40px;
  border: none;
  color: white;
  font-size: 18px;
  background: #fcac45;
  cursor: pointer;
}
.container-fluid .footer {
  padding: 20px 0 20px 0;
  background: #000;
}

@media (min-width: 300px) and (max-width: 575px) {
  html, body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
  }

  .container-fluid {
    padding: 0px;
    margin: 0px;
  }
  .container-fluid .top-nav {
    position: relative;
  }
  .container-fluid .top-nav h1 {
    margin: 20px;
    text-align: center;
  }
  .container-fluid .top-nav .menu {
    display: block;
    position: absolute;
    right: 35px;
    top: 0px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
  }
  .container-fluid .top-nav_links {
    display: none;
    margin: 20px;
  }
  .container-fluid .top-nav_links a {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-fluid .top-nav_links a:hover {
    border-bottom: 0px;
  }
  .container-fluid .top-nav_links_active {
    display: block;
  }
  .container-fluid .top-nav_welcome {
    padding: 50px 0 100px 0;
  }
  .container-fluid .about-us {
    margin: 50px;
    padding: 0px;
  }
  .container-fluid .about-us_left {
    margin: 0px;
    padding: 0px;
  }
  .container-fluid .about-us_left img {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
  }
  .container-fluid .about-us_right {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .container-fluid .about-us_right h2 {
    font-size: 18px;
  }
  .container-fluid .about-us_right p {
    font-size: 13px;
    margin: 30px 0 0 0;
    padding: 0px;
    max-width: 100%;
  }
  .container-fluid .about-us_right ul {
    margin: 30px 0 0 0;
    padding: 0px;
  }
  .container-fluid .about-us_right ul li {
    text-align: left;
    margin: 0px;
    padding: 0 0 10px 0;
    font-size: 16px;
  }
  .container-fluid .about-us_right ul li span {
    font-size: 14px;
  }
  .container-fluid .our_team {
    margin: 0px;
    padding: 0px;
  }
  .container-fluid .our_team p {
    margin: 0 auto;
  }
  .container-fluid .our_services p {
    margin: 0 auto;
    font-size: 14px;
    max-width: 100%;
  }
  .container-fluid .our_services .row p {
    margin-bottom: 15px;
  }
  .container-fluid .our_clients h2 {
    font-size: 25px;
  }
  .container-fluid .our_work h2 {
    font-size: 20px;
    padding-top: 30px;
  }
  .container-fluid .our_work .gallery {
    margin: 0px auto;
    padding: 0px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-fluid .our_work p {
    margin: 0 auto;
    font-size: 14px;
    max-width: 100%;
  }
  .container-fluid .our_work .line-1 div:not(:first-child) {
    display: none;
  }
  .container-fluid .our_work .line-2 div:not(:first-child) {
    display: none;
  }
  .container-fluid .our_work .line-3 div:not(:first-child) {
    display: none;
  }
  .container-fluid .testimonials {
    margin: 0px auto;
  }
  .container-fluid .testimonials h2 {
    max-width: 100%;
    font-size: 20px;
  }
  .container-fluid .testimonials .text p {
    width: 100%;
    font-size: 16px;
  }
  .container-fluid .contacts {
    margin: 0px auto;
  }
  .container-fluid .contacts p {
    width: 100%;
    font-size: 16px;
  }
  .container-fluid .contacts .row form .block-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .container-fluid .contacts .row form .block-1 label {
    padding-bottom: 30px;
    text-transform: uppercase;
  }
  .container-fluid .contacts .row form .block-1 label:last-of-type {
    margin: 0px;
  }
  .container-fluid .contacts .row form .block-1 input {
    width: 80%;
  }
  .container-fluid .contacts .row form .block-2 {
    text-transform: uppercase;
    text-align: center;
  }
  .container-fluid .contacts .row form .block-2 textarea {
    width: 80%;
    margin: 0px;
    padding: 0px;
  }
  .container-fluid .contacts .row form .btn {
    padding: 10px 0 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 575px) and (max-width: 1024px) {
  .container-fluid .top-nav {
    width: 100%;
    position: relative;
  }
  .container-fluid .top-nav h1 {
    margin: 20px;
  }
  .container-fluid .top-nav_links {
    display: none;
    margin: 20px 20px 20px 40px;
    padding: 0px;
  }
  .container-fluid .top-nav_links_active {
    display: block;
  }
  .container-fluid .top-nav .menu {
    position: absolute;
    display: block;
    top: 13px;
    right: 20px;
    font-size: 23px;
    color: white;
    text-decoration: none;
  }
  .container-fluid .top-nav .welcome {
    padding: 50px 0 50px 0;
  }
  .container-fluid .about-us .row .about-us_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-fluid .about-us .row .about-us_left img {
    margin: 20px;
    max-width: 100%;
  }
  .container-fluid .about-us .row .about-us_right {
    max-width: 100%;
    margin: 0px;
    padding-left: 30%;
  }
  .container-fluid .about-us .row .about-us_right h2 {
    font-size: 35px;
  }
  .container-fluid .about-us .row .about-us_right p {
    font-size: 18px;
    max-width: 100%;
  }
  .container-fluid .about-us .row .about-us_right ul li {
    font-size: 14px;
  }
  .container-fluid .our_services p {
    max-width: 100%;
  }
  .container-fluid .our_work p {
    max-width: 100%;
  }
  .container-fluid .our_work .line-1 .gallery .col:last-child {
    display: none;
  }
  .container-fluid .our_work .line-2 .gallery .col:last-child {
    display: none;
  }
  .container-fluid .our_work .line-3 .gallery .col:last-child {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1220px) {
  .container-fluid .row .about-us_left {
    margin-left: 50px;
    max-width: 100%;
  }
  .container-fluid .row .about-us_left img {
    margin: 20px;
    max-width: 100%;
  }
  .container-fluid .row .about-us_right {
    margin: 0px 0 0 30px;
    padding: 0px;
  }
  .container-fluid .our_team .row {
    max-width: 100%;
  }
  .container-fluid .our_services p {
    max-width: 100%;
  }
  .container-fluid .our_work p {
    max-width: 100%;
  }
}
@media (min-width: 620px) and (max-width: 763px) {
  .container-fluid .about-us .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-fluid .about-us .row .about-us_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-fluid .about-us .row .about-us_left img {
    max-width: 100%;
  }
  .container-fluid .about-us .row .about-us_right {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .container-fluid .about-us .row .about-us_right h2 {
    font-size: 35px;
  }
}
